/* Desktop */
.container {
  width: 900px;
  margin: 0 auto;
  padding: 200px;
}

/* Mobile */
@media (max-width: 800px) {
  .container {
    width: 90%;
    padding: 1000px;
    margin: 0 auto;
  }
}

/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f6fa;
  margin: 0;
  padding: 0;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #4b3cc4, #00b4d8);
  padding: 12px 25px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  background: #2d2a6e;
  padding: 10px 14px;
  border-radius: 8px;
  margin-right: 10px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

/* MAIN CONTENT */

.profil-section {
  max-width: 900px; /* biar konten tidak mepet kiri */
  margin: 0 auto; /* center ke tengah */
  padding: 20px 15px; /* padding dalam */
  text-align: center; /* seluruh text di tengah */
}

.utama {
  padding: 40px 20px;
}

.judul {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.desk {
  font-size: 18px;
  text-align: center;
  max-width: 650px;
  margin: 10px auto 30px auto;
  line-height: 1.6;
}

.subjudul {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

/* FITUR SECTION */
.fitur-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 10px 10px;
}

.fitur-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.fitur-icon {
  width: 60px;
  margin-bottom: 10px;
}

.fitur-card h4 {
  margin-bottom: 8px;
  color: #4b3cc4;
}

.fitur-card p {
  font-size: 14px;
  color: #555;
}

/* BUTTON */
/* FIX tombol agar tampil benar */
.tombol {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  background: #7f5af0;
  color: #fff;
  border: none;
  padding: 9px 11px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #593bc0;
}

.plus {
  font-size: 18px;
  margin-right: 8px;
}
